@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,400&family=Shadows+Into+Light&display=swap');

.portfolio-about {
  background:linear-gradient(rgba(10, 12, 15, 0), var(--color-darker));
  background-color: var(--color-dark);

}
.portfolio-about-container {
  margin-top: 75px;
}

.portfolio-about-image {
  width: 85vw;
  height: 85vw;
  max-width: 250px;
  max-height: 250px;
}